
.skill{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;



}
.singleSkill{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow:1px 1px 1px #282c34;
    margin: 10px;
}
.singleSkill:hover{
    font-size: 25px;
    transition: ease 0.6``s;
    box-shadow: 1px 1px 1px rgba(233,233,235);
    filter:drop-shadow(0 0 10px #ffff);



}
.image{
    width: 70%;
    height: 140px;
}

@media (max-width: 500px) {



    .menu{
        display: none;
    }

    .skill{
        display: flex;
                flex-wrap: wrap;
                font-family: Courier New, Courier, monospace;
                font-weight: 400;
                height: auto;
                justify-content: center;
                width: auto;
    }

    .singleSkill{
        border: 1px solid #000;
        border-radius: 20px;
        box-shadow: 1px 1px 1px #282c34;
        margin: 14px;
        width: 30%;
    }
.titleskill{
    font-size: 14px;
}



    .icon{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 3px;
    }
    .image{
        height: auto;
        margin-top: 5px;
        width: 50%;
    }
}